body,
html,
div,
i,
h1,
h2,
button
{
    font-size: 20px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0;
}

html
{
    color: #99a;
}

div.atf
{
    display: flex;
    flex-direction: column;

    height: 100vh;

    text-align: center;

    justify-content: center;
    align-items: center;
}

i
{
    color: lightsteelblue;
}

h1
{
    font-size: 2rem;
    font-weight: bold;

    margin: .5rem;
}

h2
{
    font-size: 1.2rem;

    margin: .5rem;
}

button
{
    font-size: .8rem;
    font-weight: bold;

    width: 6rem;
    height: 2.5rem;
    margin: .5rem;

    color: #eee;
    border: 1px solid royalblue;
    border-radius: 5px;
    background-color: skyblue;
}
