body,
html,
div,
svg
{
    font-size: 20px;

    margin: 0;
    padding: 0;

    border: 0;
}

div.atf
{
    display: flex;

    height: 100vh;

    justify-content: center;
    align-items: center;
}

svg
{
    width: 33vh;
    height: 33vh;

    transition-duration: 400ms;
    transition-property: all;

    border: 1px solid grey;
    border-style: ridge;
    border-radius: 100%;
    background-color: #397822;
    box-shadow: 0 10px 15px grey;

    fill: lightsteelblue;
}

svg:hover
{
    cursor: pointer;

    background-color: lightsteelblue;
    background-color: #134015;
    box-shadow: unset;
}
