html,
body,
div,
section,
footer,
button
{
    font-size: 16px;
    font-size: inherit;
    font-weight: bold;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #99a;
    border: 0;
    background-color: white;
}

svg
{
    width: 2.5rem;
    height: 2.5rem;
}

body
{
    display: flex;

    justify-content: center;
}

section.atf
{
    font-size: 4rem;
    font-weight: bold;

    display: flex;

    width: 90%;
    height: 100vh;
    padding-top: 15vh;

    text-align: center;

    align-items: flex-start;
}

footer
{
    position: fixed;
    bottom: 10px;

    display: flex;

    width: 90%;

    border-top: 2px solid #99a;

    justify-content: space-between;
}

footer div
{
    font-size: 2.2rem;
    font-weight: bold;

    display: flex;

    padding: 1rem 1.5rem;

    justify-content: center;
    align-items: center;
}

div.spinner
{
    font-weight: normal;

    margin-left: 1rem;
}

div.spinner > svg
{
    margin-right: .5rem;

    transform: rotateZ(45deg);
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    /*animation-timing-function: steps(8);*/
    animation-iteration-count: infinite;

    border: 2px solid white;

    fill: #99a;
}

@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(359deg);
    }
}

button
{
    padding: 1rem 1.5rem;

    transition-duration: 400ms;
    transition-property: all;

    color: skyblue;
    border: 1px solid white;
    border-radius: 5px;
}

button:hover
{
    color: #eee;
    border-color: lightsteelblue;
    background-color: skyblue;
}
