html,
body,
header,
section,
div,
svg,
a
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;

    color: #eee;
    border: 0;

    fill: currentColor;
}

html
{
    font-size: 3vw;
}

.icon
{
    width: 1em;
    height: 1em;
}

.icon-small
{
    width: 1rem;
    height: 1rem;
}

.icon-large
{
    width: 10rem;
    height: 10rem;
}

header
{
    position: fixed;

    display: flex;

    width: 100%;

    border-bottom: 1px solid darkgrey;
    background-color: grey;

    justify-content: space-between;
    align-items: center;
}


nav
{
    display: flex;

    padding-left: .5rem;

    align-items: center;
}


a
{
    padding: .2rem;
}

a:hover,
nav > svg:hover
{
    background-color: rgba(0,0,0,.6);
}

section.atf
{
    font-size: 3rem;

    display: flex;
    flex-direction: column;

    height: 100vh;

    text-align: center;

    color: grey;

    justify-content: center;
    align-items: center;
}

section.atf svg
{
    margin-top: 2rem;

    color: hotpink;
}
