html,
body,
nav,
main
{
    margin: 0;
    padding: 0;

    border: 0;
}

body
{
    width: 80%;
    margin: 0 auto;
}

nav
{
    position: absolute;

    width: 90px;
    height: 400px;
    padding: 0 5px;

    border: solid 1px red;
}

main
{
    height: 400px;
    margin-left: 100px;
    padding: 0 5px;

    border: solid 1px;
}
