div,
body,
html
{
    margin: 0;
    padding: 0;

    border: 0;
}

nav > div
{
    float: right;

    width: 200px;
    height: 400px;

    border: 2px solid;
    background: blue;
}

nav
{
    width: 300px;
    height: 300px;

    border: 2px solid;
    background: red;
}

body > div
{
    clear: both;

    width: 400px;
    height: 400px;

    border: 2px solid;
    background: orange;
}
