html,
body,
section,
div
{
    font-size: 20px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0;
}
section.atf
{
    display: flex;

    height: 100vh;

    justify-content: center;
    align-items: center;
}

nav
{
    display: flex;

    width: 80%;

    border-bottom: 2px solid steelblue;

    align-items: center;
    justify-content: space-between;
}

nav > div
{
    font-size: 2rem;

    padding: .5rem 2rem;

    border-bottom: .1rem solid transparent;
}

nav > div:hover
{
    cursor: pointer;

    border-bottom: .1rem solid royalblue;
}
