ul
{
    list-style: none;

    background-color: #28e;
}

a
{
    display: block;

    padding: 20px 0;

    text-align: center;
    text-decoration: none;

    color: #eee;
}

a:hover
{
    background: lightblue;
}

li
{
    border-top: 1px solid rgba(200, 200, 200, .5);
    border-bottom: 1px solid rgb(20, 80, 200);
}

li:last-child
{
    border-bottom: none;
}
