html,
body,
div
{
    font-family: sans-serif;
    font-size: 12vh;
    font-weight: 700;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0;
}

body
{
    display: flex;

    justify-content: center;
}

div.atf
{
    display: flex;

    width: 80%;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

div > div
{
    display: flex;

    color: #222;
    border: 3px solid cadetblue;

    justify-content: center;
    flex-grow: 2;
    flex-basis: 2;
}

div.minus,
div.plus
{
    color: #eee;
    border: 3px solid cadetblue;
    background-color: lightsteelblue;

    flex-grow: 1;
    flex-basis: 1;
}

div.minus:hover,
div.plus:hover
{
    cursor: crosshair;

    background-color: steelblue;
}

div.minus
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.plus
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
