html,
body,
div
{
    font-family: sans-serif;
    font-size: 96px;
    font-weight: 700;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0;
}

body
{
    display: flex;

    text-align: center;

    border: 2px solid hotpink;

    justify-content: center;
    align-items: center;
}


div
{
    width: 400px;

    border: 2px solid grey;
}

div.minus,
div.plus
{
    width: 150px;

    color: #eee;
    border: 2px solid cadetblue;
    background-color: lightsteelblue;
}

div.minus:hover,
div.plus:hover
{
    background-color: steelblue;
}

div.minus
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.plus
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
