html,
body,
p,
main,
section,
h2,
h3,
h1,
button,
a,
svg
{
    font-size: 1rem;
    font-weight: normal;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-decoration: none;
    text-transform: inherit;

    color: inherit;
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

body
{
    font-family: 'Cantarell';
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 2.6rem;

    background-color: rgba(0, 0, 0, .6);

    justify-content: center;
}

section#idx-atf a.logo,
section#idx-atf nav
{
    display: flex;

    padding: 0 .5rem;

    align-items: center;
}

section#idx-atf a:hover
{
    color: #1485cc;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
}

section#idx-atf svg
{
    display: none;
}

section#idx-atf
{
    display: flex;

    text-transform: uppercase;

    color: #eee;
    background-image: url('img/background-photo-mobile-devices.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: center;
}

div#idx-center
{
    display: flex;
    flex-direction: column;

    height: 100vh;

    text-align: center;

    justify-content: center;
    align-items: center;
}

div#idx-center > h1
{
    font-size: 2rem;

    height: 30vh;
}

div#idx-center-center
{
    height: 30vh;
}

div#idx-center-center > h2
{
    font-weight: bold;
}

button
{
    font-family: 'Cantarell';
    font-weight: bold;

    padding: .2rem 1rem;

    color: #eee;
    border: 1px solid #eee;
    border-radius: 3%;
}

button:hover
{
    cursor: pointer;
    cursor: hand;

    color: #a69282;
    border: 1px solid #a69282;
}

nav#mobile-menu
{
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

nav#mobile-menu a
{
    display: flex;

    width: 100%;
    padding-left: 3rem;

    color: #eee;
    border-top: 1px solid #1485ee;
    border-bottom: 1px solid #aaa;
    background-color: #1485cc;

    align-items: center;
}

nav#mobile-menu a:hover
{
    background-color: #0971b2;
}

nav#mobile-menu svg
{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;

    fill: #eee;
}
