html,
body,
p,
main,
section,
h2,
h3,
h1,
button
{
    font-size: 1rem;
    font-weight: normal;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-transform: inherit;

    color: inherit;
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

body
{
    font-family: 'Cantarell';
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 2.8rem;

    background-color: rgba(0, 0, 0, .6);

    justify-content: space-between;
}

div.logo,
nav
{
    display: flex;

    width: 40%;
    margin: .5rem;

    justify-content: flex-end;
    align-items: center;
}

div.logo
{
    justify-content: flex-start;
}

svg
{
    width: 1.8rem;
    min-width: 1.8rem;
    height: 1.8rem;
    min-height: 1.8rem;
    margin-right: .4rem;

    fill: #eee;
}

svg:hover
{
    fill: #1485cc;
}

section#idx-atf
{
    display: flex;

    text-transform: uppercase;

    color: #eee;
    background-image: url('img/background-photo-mobile-devices.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    justify-content: center;
    align-items: center;
}

div#idx-center
{
    display: flex;
    flex-direction: column;

    height: 100vh;

    text-align: center;

    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 2rem;

    margin-bottom: 2rem;
}

h2
{
    font-weight: bold;
}

button
{
    font-family: 'Cantarell';
    font-weight: bold;

    margin: 2rem;
    padding: .2rem 1rem;

    border: 1px solid #eee;
    border-radius: 3%;
}

button:hover
{
    cursor: pointer;
    cursor: hand;
}
